.time-slot-container {
    height: 100%;
    font-weight: bold;
}

.select-container select {
    width: 100%;
    padding: 0.8rem;
    border-radius: 10px;
    border: 1px solid #cdd0de;
    background-color: #fafafc;
    color: #378760;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

hr {
    border: 0.5px solid #cdd0de;
}

.time-slot-section {
    height: 50%;
    overflow-y: scroll;
}

@media (max-width: 1021px) {
    .time-slot-section {
        height: 35vh;
        overflow-y: scroll;
    }
}
