.time-slot{
    border: 1px solid #378760;
    margin-bottom: 0.8rem;
    padding: 0 0.8rem;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    text-align: center;
    height: 53px;
    box-sizing: border-box;
    opacity: 0.7;
}

.time-slot-selected{
    border: 1px solid #378760;
    margin-bottom: 0.8rem;
    padding: 0 0.8rem;
    background-color: #378760;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    height: 53px;
    box-sizing: border-box;
    transition-duration: 0.5s;
    transition-property: background-color;
}

.time-slot-container{
    margin: auto;
    width: 50%;
}

.tick{    
    width: 1.5rem;
    height: 1.5rem;
}

.tick img{
    height: 100%;
    width: 100%;
}

.time-slot:hover{
    opacity: 1;
}


@media (max-width: 570px) {
    .time-slot-container{
        width: 100%;
    }
}